/* .overlap-container {
    border-style: solid;
} */

.custom-dropdown {
    position: relative;
    font-size: 38px;
    font-weight: 600;
    width: fit-content;
    font-family: "Heebo", sans-serif;
    background-color: #FFE99A;
    border-style: solid;
    border-width: 3px;
    box-shadow: #DEDDDD 15px 15px;
}

.selected {
    padding: 12px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    position: absolute;
    font-size: 30px;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    animation: fadeIn 0.2s ease;
}

.option {
    padding: 12px;
    cursor: pointer;
}

.option:hover {
    background-color: #FFAAAA;
}

.arrow {
    margin-left: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}