:root {
    background-color: #FFFFFF;
    font-family: "Heebo", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 65px;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    font-weight: 350;
}

.page {
    font-family: "Heebo", sans-serif;
    justify-self: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}


.heebo-regular {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 350;
    font-style: normal;
}

.heebo-bold {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10%;
}

.blocks {
    padding: 5% 10%;
    background-color: #FFFFFF;
}

.blocks.pink{
    background-color: #FFAAAA;
}

.description {
    flex: 1;
    margin-right: 8%;
}


#myTitle {
    border-color: black;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;

}

/* .intro, .description{
    border: solid;
} */


.resumeBox {
    background-color: #FFAAAA;
    width: fit-content;
    padding: 3%;
    font-size: large;
}

.pictureBox {
    justify-content: center;
    align-content: center;
}

/* img {
    width: 100px;
    border-radius: 8px;
} */

.portrait {
    width: 100%;
}



.project {
    /* border-style: solid; */
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

.projPic {
    /* width: 50%; */
    max-height: 40vh;
    object-fit:scale-down;
    align-self: center;
}

a {
    display: flex;
    width: 50%;
    justify-content: center;
}

.githubContainer {
    width: fit-content;
    display: flex;
    justify-content: start;
}

.githubContainer:hover {
    transform: scale(1.02);
}


.projPic:hover {
    transform: scale(1.02);
}

.projectDetails {
    display: block;
    margin-left: 5%;
    flex: 50%;
}


.exp {
    border: black;
    border-left-style: solid;
    border-width: 5px;
    padding-left: 5%;
    margin: 3%;
}

.expHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}