:root {
    background-color: #FFFFFF;
    font-family: "Heebo", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    font-weight: 350;
}

.page {
    font-family: "Heebo", sans-serif;
    justify-self: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}

.intro {
    width: 70%;
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.heebo-regular {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    font-weight: 350;
    font-style: normal;
}

.heebo-bold {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10%;
}

.blocks {
    padding: 5% 10%;
    background-color: #FFFFFF;
}

.blocks.pink {
    background-color: #FFAAAA;
}

.description {
    flex: 1;
    margin-right: 8%;

}


#myTitle {
    border-color: black;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;

}


.resumeBox {
    background-color: #FFAAAA;
    width: fit-content;
    padding: 3%;
    font-size: large;
    text-decoration: none;
    color: black;
}

.pictureBox {
    justify-content: center;
    align-content: center;
}

.portrait {
    width: 100%;
}



.project {
    /* border:solid; */
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
}

.projPic {
    max-height: 40vh;
    width: 40%;
    object-fit: scale-down;
    align-self: center;
    /* border: solid; */
    border-color: red;
    flex: 1;
}

.projPic:hover {
    transform: scale(1.02);
}

.projectDetails {
    /* border:solid; */
    margin-left: 5%;
    flex: 1;
}

a {
    display: flex;
    width: 50%;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
}


.githubContainer {
    width: 2.5em;
    margin-right: 5%;
}

.webContainer:hover,
.githubContainer:hover {
    transform: scale(1.02);
}

.webContainer {
    width: fit-content;
    display: flex;
    align-items: center;
}





.exp {
    border: black;

    border-left-style: solid;
    border-width: 5px;
    padding-left: 5%;
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

.expHeader {
    /* border:solid; */
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
    justify-content: center;

    /* justify-content: space-between; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.expHeader.right {
    align-items: end;
    font-size: 1.1rem;
    /* border:solid; */
}

.expDetail {
    /* border:solid; */
    flex: 1;
    margin: 0px;
    display: flex;
    align-items: end;
    /* align-content: space-between; */
}

.company {
    font-size: 1.5rem;
}



.aboutContainer {
    display: flex;
    /* flex-direction: column;
    justify-content: center;  */
    align-items: flex-start;
    /* align-items: center; */
    flex-direction: column;
    justify-items: center;

}

.contactsBottom {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 40%;
    align-self: center;
    margin-top: 4rem;
}

.contactContainer {
    width: fit-content;
}

.blocks.about {
    padding: 5% 10% 5% 10%;
}

@media screen and (max-width: 780px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        width: 70%;

    }

    .description {
        margin-right: 0px;
    }

    .pictureBox {
        width: 60%;
        align-self: center;
    }

    h1 {
        font-size: 2.3rem;
    }

    .heebo-regular.paragraph {
        align-items: center;
    }

    .project {

        border-color: chartreuse;
        flex-direction: column;
        align-items: center;
        margin: 5% 0% 5% 0%;
    }

    a {

        border-color: cadetblue;
    }

    .projPic {

        max-height: 30vh;
    }

    .projectDetails {

        border-color: blueviolet;
        justify-items: center;
        text-align: center;
    }

    h2 {
        margin-top: 0px;
    }

    h3 {
        margin: 0px;
    }

    .exp {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .expHeader {
        border-color: aqua;
        width: 100%;
    }

    .expHeader.right {
        align-items: start;
        /* margin-top:0.7rem; */
    }

    .role {
        margin-bottom: 0px;
    }

    .aboutContainer {
        /* border:solid; */
        border-color: coral;
    }

    .contactsBottom {
        /* border:solid; */
        border-color: blue;
        margin-top: 2rem;
        width: 100%;
    }

    .contactContainer {}

}